{% set golang = salt['grains.filter_by']({
    'default': {
    'arch': 'armv6l',
    'prefix': '/usr/local'
    'go_root': '/usr/local/go'
    'go_path': '/var/lib/golang'
    'version': "1.8.3"
    'base_dir': '/usr/local/go'
  },
},
merge=salt['pillar.get']('golang:lookup', {}),
default='default')
%}
